
{% for concept in concepts %} 
    {% if concept is iterable %}
        <li><a href="#">{{concept[0]}}</a>
        <ul>
        {% include "/concept-tags.html.twig" with {'concepts': concept[1]} %}
        </ul>
        </li>
    {% else %}
        <li><label for="tag{{ i }}" class="checkbox">
            <input type="checkbox" name="concepts" id="tag{{ i }}" name="tag{{ i }}" id="{{concept}}" />
            {{concept}}</label></li>
            {% set i = i + 1 %}
    {% endif %}
{% endfor %}