{% include 'head.html' %}
{% include 'header.html' %}

<section id="main-content">
  <article id="available-courses">
    <header>
      <hgroup>
        <h1 style="background-color: #3c3962; color: #dfd29f;">Available Assignments</h1>
        <h2>&nbsp;</h2>        
      </hgroup>
    </header>
    <section class="available-courses">
      <form action="/question-part1" method="POST" class="form">
        <fieldset>
          {% for assignment in assignments %}
            <div class="stassignment" style="display: block; clear: both;">
            <div class="stassignment-icon" style="float:left;">
              <input type="submit" name="assignment" value="{{assignment['assignment_']}}" class="btn btn-primary"><i class="icon-pencil"></i></input>
            </div> 
            <div class="stassignment-details" style="float: left;">
              <p style="margin:0;padding:0;"><a href="{{assignment['assignment_']}}">{{assignment['name']}}</a></p> 
              <p style="margin:0;padding:0;">Course: course name {{assignment['course']}} | Prof: professor name {{assignment['professor']}}</p>
            </div>
          </div>
          {% endfor %}           
          <div class="clear"></div>
        </fieldset>
      </form>
    </section>
  </article>
</section>
{% include 'footer.html' %}
