{% include 'head.html' %}

{% include 'header.html' %}

<section id="main-content">
  <article class="question part-2">
    <header>
      <hgroup>
        <h1>Question  {{ question_num }}</h1>
        <h2>{{ assignment['title'] }}  <!--note it would be good to put prof name here in next iteration--></h2>
      </hgroup>
    </header>

    <section class="question">
      <div class="img-upload">
          {% if question[question_num]['media2']['type'] == 'image'  %}
              <img src="/img-uploads/{{ question[question_num]['media2']['data'] }}" alt="Image Missing" />
          {% elseif question[question_num]['media2']['type'] == 'youtube'  %}
            <iframe width="420" height="315" src="http://www.youtube.com/embed/{{ question[question_num]['media2']['data'] }}" frameborder="0" allowfullscreen></iframe>
          {% else  %}
            <p>no image or video</p>
       {% endif %}
      </div>

      <div class="answer-form">
        <form class="form-horizontal" action="/question-part3" method="POST" >
          <fieldset>
            <div class="control-group question">
              <p>2. Select the correct answer:</p>
              {% if question[question_num]['choice_type'] == 'numeric' %}
                {% for count in 1..question[question_num]['num_choice'] %}
                    <label class="checkbox">
                      <input type="radio" name="optionsCheckboxList" value="option{{ count }}">
                    {{ count }}
                    </label>
                {% endfor %}
              {% endif %}
              {% if question[question_num]['choice_type'] == 'alpha' %}
                {% for count in 1..question[question_num]['num_choice'] %}
                    <label class="checkbox">
                      <input type="radio" name="optionsCheckboxList" value="option{{ count }}">
                    {{ alpha[count] }}
                    </label>
                {% endfor %}
              {% endif %}

            </div>
          </fieldset>

          <fieldset>
            <p>3. Provide a reasoning for the answer that you chose above:</p>
            <textarea class="student-rationale-textbox"></textarea>
          </fieldset>
<input type="submit" value="Continue">
        </form>
        <a href="/question-part3"><button class="btn btn-primary next-page">Submit&nbsp;&raquo;</button></a>
      </div>
      <div class="clear"></div>
    </section>

  </article>
</section>

{% include 'footer.html' %}
