{% include 'head.html' %}

{% include 'header.html' %}

<section id="main-content">
  <article class="question part-2">
    <header>
      <hgroup>
        <h1>Question  {{ question_num }}</h1>
        <h2>{{ assignment['title'] }}  <!--note it would be good to put prof name here in next iteration--></h2>
      </hgroup>
    </header>

    <section class="question">
      <div class="img-upload">
        {% if media1['type'] == 'jpeg'  %}
            <img src="https://edu8.ca/trunk/img-uploads/{{ media1['data'] }}" alt="Image Upload" />
          {% elseif media1['type'] == 'youtube'  %}
            <iframe width="420" height="315" src="http://www.youtube.com/embed/{{ media1['data'] }}" frameborder="0" allowfullscreen></iframe>
          {% else  %}
            <p>no image or video</p>
        {% endif %}
      </div>

      <div class="answer-form">
        <form class="form-horizontal">
          <fieldset>
            <div class="control-group question">
              <p>2. Select the correct answer:</p>
                {% for count in 1..question[question_num]['num_choice'] %}
                <label class="checkbox">
                <input type="radio" name="optionsCheckboxList" value="option{{ count }}">
                {{ count }}
                </label>
              {% endfor %}
            </div>
          </fieldset>

          <fieldset>
            <p>3. Provide a reasoning for the answer that you chose above:</p>
            <textarea class="student-rationale-textbox"></textarea>
          </fieldset>

        </form>
        <a href="/question-part3"><button class="btn btn-primary next-page">Submit&nbsp;&raquo;</button></a>
      </div>
      <div class="clear"></div>
    </section>

  </article>
</section>

{% include 'footer.html' %}
